* {
  margin: 0;
  padding: 0;
}

.container {
  background: rgb(37, 19, 102);
  display: flex;
  height: 100vh;
  justify-content: space-between;
  padding: 0px 5px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 5px;
  transition: flex 1s;
}

.column--selected {
  flex: 2;
}

.card {
  background: rgba(255, 255, 255, 1);
  border-radius: 2px;
  cursor: pointer;
  flex: 1;
  margin: 5px 0px;
  transition: flex 1s;
  z-index: 1;
}

.card:hover {
  background: rgba(255, 255, 255, 0.9);
}

.card--selected {
  flex: 4;
}
